{% load static tailwind_tags %}
{%load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="{%static 'img/logo-color.png'%}" >
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i 500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>Messenger</title>
        
        {% tailwind_css %}
        <link rel="stylesheet" href="{%static 'css/dist/custom-style.css' %}">
    </head>
    <body class="bg-[#F3F5F7]">

        <style>
            .contacts .active{
                background-color: lightgray;
            }

            .messages-wrapper.is_active{
                display:flex;
            }
           
        </style>

        <div class="none:container relative">

            <div class="sidebar fixed top-24 left-0  flex flex-col justify-between items-center m-4 w-[84px] h-[480px] bg-white rounded-2xl shadow-2xl shadow-gray-400">
                <a href="{% url 'home'%}" class="group relative  bg-gray-400 hover:bg-[#63cc89] p-3 mt-2 rounded-lg shadow-lg "><img class="h-10 w-10" src="{%static 'img/home.svg' %}" alt="">
                  <p class="hidden group-hover:block absolute bottom-0 right-[-3rem] bg-[#a7e0bc] p-1 rounded-lg">Home</p>
                </a>
                <a href="{% url 'profiles:myProfile' %}" class="group relative  bg-gray-400 hover:bg-[#63cc89] p-3 mt-2 rounded-lg"><img class="h-10 w-10" src="{%static 'img/profile.svg' %}" alt="">
                  <p class="hidden group-hover:block absolute bottom-0 right-[-3rem] bg-[#a7e0bc] p-1 rounded-lg">Profile</p>
                </a>
                <a href="{% url 'chat:index' %}" class="group relative bg-[#a7e0bc] hover:bg-[#63cc89] p-3 mt-2 rounded-lg"><img class="h-10 w-10" src="{%static 'img/chat.svg' %}" alt="">
                  <p class="hidden group-hover:block absolute bottom-0 right-[-3rem] bg-[#a7e0bc] p-1 rounded-lg">Messages</p>
                </a>
                <a href="{% url 'profiles:profile-list-view' %}" class="group relative bg-gray-400 hover:bg-[#63cc89] p-3 mt-2 rounded-lg"><img class="h-10 w-10" src="{%static 'img/friends.svg' %}" alt="">
                  <p class="hidden group-hover:block absolute bottom-0 right-[-3rem] bg-[#a7e0bc] p-1 rounded-lg">Find Freinds</p>
                </a>
                <a href="{% url 'profiles:my-invites-view' %}" class="group relative bg-gray-400 hover:bg-[#63cc89] p-3 mb-2 rounded-lg"><img class="h-10 w-10" src="{%static 'img/add-friend.png' %}" alt="">
                  <p class="hidden group-hover:block absolute bottom-0 right-[-3rem] bg-[#a7e0bc] p-1 rounded-lg">Friend Request</p>
                </a>
      
            </div>  

            <div class="main">

                <div class="fixed top-0 w-full navbar h-20 flex flex-row flex-none items-center  bg-white rounded-t-lg">
                    <div class="logo-section w-100 px-5 ">
                        <img src="{%static 'img/logo.png'%}" alt="logo" class="h-[54px]">
                    </div>

                    <div class="middle-section flex-1 flex flex-shrink-0 justify-center">
                        <div class=" relative mx-auto text-gray-600">
                            <input class="border-2 border-gray-300 bg-[#F3F5F7] h-10 w-[500px]  pr-16 rounded-full py-2 px-4 text-sm focus:border-[#0e9741]" type="search" name="search" placeholder="Search">
                            <button type="submit" class="absolute right-0 top-3 mr-5" >
                                <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                width="512px" height="512px">
                                <path
                                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="profile-area w-100 flex pr-[80px]">
                        <button class="w-10 h-10 rounded-full bg-[#F3F5F7] hover:bg-[#a3b5c8] text-white flex justify-center items-center">
                            <img src="{%static 'img/chat.png'%}" alt="logo" class="h-5 w-5">
                        </button>   
                        <button class="w-10 h-10 rounded-full flex justify-center items-center bg-[#F3F5F7] hover:bg-[#a3b5c8] text-white mx-5">
                            <img src="{%static 'img/bell.png'%}" alt="logo" class="h-5 w-5">
                        </button>
                    
                        <div class="relative">
                            <img class="w-10 h-10 rounded-full" src="{{request.user.profile.avatar.url}}" alt="">
                            <span class="top-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-[#a3b5c8] dark:border-gray-800 rounded-full"></span>
                            <div class="expand-more ">
                              <span class=" bg-[#e2e6ea] flex justify-center items-center bottom-[-5px] right-[-2px] absolute material-icons-sharp w-3.5 h-3.5 border-red-900 dark:border-gray-800 rounded-full">expand_more</span>
                              <ul class="expand-more-items">
                                  <li><a href="#">settings</a></li>
                                  <li><a href="{%url 'logout' %}">logout</a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>

                <!--Component-->
                <div class="overflow-hidden w-[1200px] mx-auto my-7 mt-[100px] ">

                    <div class=" shadow-2xl shadow-gray-800 rounded-2xl"><!-- div 1 -->
                        <div class="flex border border-grey rounded shadow-lg "><!-- div 2 -->

                            <!-- Left -->
                            <div class="w-1/3 border flex flex-col">
                                <!-- Left Header -->
                                <div class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center border-b-4">
                                    <div class="flex items-center">
                                        <img class="w-10 h-10 rounded-full" src="{{user.profile.avatar.url}}"/>      
                                       
                                        {% if user.is_authenticated %}
                                            <input class ="logged-in-user" type="hidden" value="{{user.id}}">  
                                            <h1 class="ml-2 font-medium text-center bg-gray-100">My contacts </h1>
                                        {% endif %}
                                    </div>

                                    <div class="flex ">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#727A7E" d="M12 20.664a9.163 9.163 0 0 1-6.521-2.702.977.977 0 0 1 1.381-1.381 7.269 7.269 0 0 0 10.024.244.977.977 0 0 1 1.313 1.445A9.192 9.192 0 0 1 12 20.664zm7.965-6.112a.977.977 0 0 1-.944-1.229 7.26 7.26 0 0 0-4.8-8.804.977.977 0 0 1 .594-1.86 9.212 9.212 0 0 1 6.092 11.169.976.976 0 0 1-.942.724zm-16.025-.39a.977.977 0 0 1-.953-.769 9.21 9.21 0 0 1 6.626-10.86.975.975 0 1 1 .52 1.882l-.015.004a7.259 7.259 0 0 0-5.223 8.558.978.978 0 0 1-.955 1.185z"></path></svg>
                                        </div>
                                        <div class="ml-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path opacity=".55" fill="#263238" d="M19.005 3.175H4.674C3.642 3.175 3 3.789 3 4.821V21.02l3.544-3.514h12.461c1.033 0 2.064-1.06 2.064-2.093V4.821c-.001-1.032-1.032-1.646-2.064-1.646zm-4.989 9.869H7.041V11.1h6.975v1.944zm3-4H7.041V7.1h9.975v1.944z"></path></svg>
                                        </div>
                                        <div class="ml-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#263238" fill-opacity=".6" d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z"></path></svg>
                                        </div>
                                    </div>
                                </div><!--end of Left Header -->


                                <!-- Contacts -->
                                <div class="contacts bg-grey-lighter flex-1 overflow-auto">
                                    {% for thread in Threads %}

                                    <div chat-id="chat_{{thread.id}}" class="contact-list {% if forloop.first %}active{% endif %}  px-3 flex items-center hover:bg-grey-lighter cursor-pointer">
                                        <div>
                                            {% if thread.first_person == user %}
                                                <img class="h-10 w-10 rounded-full" src=" {{thread.second_person.profile.avatar.url}}"/>
                                            {% else %}
                                                <img class="h-10 w-10 rounded-full" src=" {{thread.first_person.profile.avatar.url}}"/>
                                            {% endif %}
                                        </div>
                                        <div class="ml-4 flex-1 border-b border-grey-lighter py-4">
                                            <div class="flex items-bottom justify-between">
                                                <p class="text-grey-darkest">
                                                    {% if thread.first_person == user %}
                                                        {{thread.second_person.profile.first_name}} {{thread.second_person.profile.last_name}}
                                                    {% else %}
                                                        {{thread.first_person.profile.first_name}} {{thread.first_person.profile.last_name}}
                                                    {% endif %}
                                                </p>
                                                <p class="cursor-pointer  text-xs text-grey-darkest">
                                                    12:45 pm
                                                </p>
                                            </div>
                                            <p class="text-grey-dark mt-1 text-sm">
                                                Click to start the conversation
                                            </p>
                                        </div>
                                   </div>
                                    {% endfor %}


                                </div><!-- end of Contacts -->
                            </div><!-- end of Left -->


                            <!-- Right -->
                            <div class="h-[85vh] w-2/3 border flex flex-col">

                                <!--message Header -->
                                <div class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center">
                                    <div class="flex items-center">
                                        <div>
                                            <img class="w-10 h-10 rounded-full" src="{{user.profile.avatar.url}}"/>
                                        </div>
                                        <div class="ml-4">
                                            <p class="text-grey-darkest">
                                                Logged in as
                                            </p>
                                            <p class="text-grey-darker text-xs mt-1">
                                                {{user.profile.first_name}} {{user.profile.last_name}}
                                            </p>
                                        </div>
                                    </div>
                                </div><!--end of message  Header -->

                                <!-- Messages -->
                                <div class="flex-1 overflow-auto" style="background-color: #DAD3CC">
                            {% for thread in Threads %}

                                    <div class="py-2 px-3 messages-wrapper {% if forloop.first %}hidden is_active{% else %}hidden{% endif %}  flex flex-col"
                                        chat-id="chat_{{ thread.id }}" other-user-id="
                                        {% if thread.first_person == user %}
                                            {{ thread.second_person.id }}
                                        {% else %}
                                            {{ thread.first_person.id }}
                                        {% endif %}
                                        "> <!------Div 1 Messages -->
                                

                                        <div class="flex justify-center mb-2">
                                            <div class="rounded py-2 px-4" style="background-color: #DDECF2">
                                                <p class="text-sm uppercase">
                                                    {% if thread.first_person == user %}
                                                        <span>Chat with {{ thread.second_person.profile.first_name }}</span>
                                                    {% else %}
                                                        <span>Chat with {{ thread.second_person.profile.first_name }}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        
                                        <div class="flex justify-center mb-4">
                                            <div class="rounded py-2 px-4" style="background-color: #FCF4CB">
                                                <p class="text-grey-darker text-xs mt-1">
                                                    {{ thread.chatmessage_thread.all.count }} messages
                                                </p>
                                            </div>
                                        </div>

                                        {% comment %} <div class="msg-card-body"> {% endcomment %}
                                            {% for chat in thread.chatmessage_thread.all %}
                                            
                                                {% if chat.user == user %}
                                                    <!--receiver-->
                                                    <div class="flex justify-end mb-2">
                                                        <div class="rounded py-2 px-3" style="background-color: #E2F7CB">
                                                            <p class="text-sm mt-1">
                                                                {{chat.message}}
                                                            </p>
                                                            <p class="text-right text-xs text-grey-dark mt-1">
                                                                {{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                
                                                {% else %} 
                                                <!--sender-->
                                                <div class="flex mb-2">
                                                    <div class="rounded py-2 px-3" style="background-color: #F2F2F2">
                                                        <p class="text-sm text-teal">
                                                            {{ chat.message }}
                                                        </p>
                                                   
                                                        <p class="text-right text-xs text-grey-dark mt-1">
                                                            {{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}
                                                        </p>
                                                    </div>
                                                </div>
                                                {% endif %}
                                              
                                            {% endfor %}
                                        {% comment %} <div> {% endcomment %}

                                        
                                    </div><!--end of Div 1 messages-wrapper -->
                                {% endfor %}
                                </div><!--end of  Messages -->

                                <!-- Input -->
                                <div class="bg-grey-lighter px-4 py-4 flex items-center">
                                    <div class="flex-1 mx-4">
                                        <form method="POST" action="" class="send-message-form flex ">
                                        {%csrf_token%}
                                        <input class="input-message w-[700px] border rounded px-2 py-2" type="text"/>
                                    </div>
                                    <div class="px-2 py-2">
                                        <button class="w-[54px]" type="submit"><img src="{%static 'img/send_button.png'%}"></button>
                                    </div>
                                </div><!--End of  Input -->


                            </div> <!--end of Right -->



                        </div><!-- end of div 2-->
                    </div><!-- end of div 1 -->

                </div><!--end of component-->

            </div> <!--end of main-->
            
        </div><!--end of container-->

    


    
    </body>
    <!-- Link to js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        let img = "{% static 'img/me.jpg' %}"
    </script>
    <script src="{% static 'js/message.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


</html>
